<md-content>

    <md-card>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-subhead">Filters</h2>
                <span flex></span>
                <md-button aria-label="{{ dt.showFilters ? 'Show' : 'Hide' }} Filters" class="md-icon-button"
                           ng-click="dt.showFilters = !dt.showFilters">
                    <ng-icon icon="{{ dt.showFilters ? 'minus' : 'plus'}}"></ng-icon>
                </md-button>
            </div>
        </md-toolbar>

        <div ng-if="dt.showFilters" layout="column" layout-padding>
            <md-content layout="row">
                <section flex layout="column">
                    <md-input-container>
                        <label>Min Age</label>
                        <input type="number" ng-model="dt.filters.minAge" min="1" ng-disabled="dt.noFilters">
                    </md-input-container>
                    <md-input-container>
                        <label>Max Age</label>
                        <input type="number" ng-model="dt.filters.maxAge" max="99" ng-disabled="dt.noFilters">
                    </md-input-container>
                </section>
                <section flex layout="column">
                    <md-input-container>
                        <label>Systolic (min)</label>
                        <input type="number" ng-model="dt.filters.systolic" ng-disabled="dt.noFilters">
                    </md-input-container>
                    <md-input-container>
                        <label>Diastolic (min)</label>
                        <input type="number" ng-model="dt.filters.diastolic" ng-disabled="dt.noFilters">
                    </md-input-container>
                </section>
                <section flex layout="column">
                    <md-input-container>
                        <label>Latest BP (min)</label>
                        <input type="date" ng-model="dt.filters.minBp" ng-disabled="dt.noFilters">
                    </md-input-container>
                    <md-input-container>
                        <label>Latest BP (max)</label>
                        <input type="date" ng-model="dt.filters.maxBp" ng-disabled="dt.noFilters">
                    </md-input-container>
                </section>
                <section flex layout="column">
                    <md-input-container>
                        <label>First Name</label>
                        <input ng-model="dt.filters.firstName" ng-disabled="dt.noFilters">
                    </md-input-container>
                    <md-input-container>
                        <label>Last Name</label>
                        <input ng-model="dt.filters.lastName" ng-disabled="dt.noFilters">
                    </md-input-container>
                </section>
                <section flex layout="column">
                    <md-input-container>
                        <label>Email Address</label>
                        <input ng-model="dt.filters.email" ng-disabled="dt.noFilters">
                    </md-input-container>
                    <md-content layout="row" layout-align="end end">
                        <md-button class="md-raised md-accent" ng-click="dt.toggleFilters()">
                            <ng-icon>filter</ng-icon>
                            <span>Filters {{}}</span>
                        </md-button>
                        <md-button class="md-raised md-primary" ng-click="dt.resetFilters()">
                            <ng-icon>refresh</ng-icon>
                            <span>Reset</span>
                        </md-button>
                    </md-content>
                </section>
            </md-content>

        </div>

    </md-card>

    <md-card>
        <md-table-container>
            <table md-table>
                <thead md-head md-order="dt.pagination.order">
                <tr md-row>
                    <th md-column md-order-by="firstName"><span>First Name</span></th>
                    <th md-column md-order-by="lastName"><span>Last Name</span></th>
                    <th md-column md-order-by="emailAddress"><span>Email</span></th>
                    <th md-column md-order-by="birthDate"><span>Birth Date</span></th>
                    <th md-column md-numeric md-order-by="age"><span>Age</span></th>
                    <th md-column md-order-by="latestBloodPressureDate"><span>Latest BP</span></th>
                    <th md-column md-numeric md-order-by="systolic"><span>Systolic</span></th>
                    <th md-column md-numeric md-order-by="diastolic"><span>Diastolic</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row
                    ng-repeat="patient in dt.patients | filter: filter.search | orderBy: dt.pagination.order | limitTo: dt.pagination.limit: (dt.pagination.page -1) * dt.pagination.limit">
                    <td md-cell>{{patient.firstName}}</td>
                    <td md-cell>{{patient.lastName}}</td>
                    <td md-cell>{{patient.emailAddress}}</td>
                    <td md-cell>{{patient.birthDate}}</td>
                    <td md-cell>{{patient.age}}</td>
                    <td md-cell>{{patient.latestBloodPressureDate | date : 'MM/dd/yyyy'}}</td>
                    <td md-cell>{{patient.systolic}}</td>
                    <td md-cell>{{patient.diastolic}}</td>
                </tr>
                </tbody>
                <tfoot md-foot>
                <tr md-row>
                    <td md-cell colspan="2">Total Patients: {{ dt.patients.length }}</td>
                    <td md-cell colspan="2"></td>
                    <td md-cell colspan="4"></td>
                </tr>
                </tfoot>
            </table>
        </md-table-container>
        <md-table-pagination md-limit="dt.pagination.limit" md-limit-options="dt.pagination.options"
                             md-page="dt.pagination.page" md-total="{{dt.patients.length}}"
                             md-page-select="dt.patients.length > dt.pagination.limit"
                             md-boundary-links="dt.patients.length > dt.pagination.limit">
        </md-table-pagination>
    </md-card>

</md-content>
